li{
	list-style-type: none;
}

strong{
    color: DarkBlue	;
}

.nav-pills{
    margin-right:40px;
}

.aligncenter{
    display: block;
    margin: 0 auto;
}

.text-block {
    margin-left:40px;
}



