{% extends 'base.html' %}


{% block title %}
AGILE
{% endblock %}


{% block body %}

<div class="container">
  <h2> Семейство AGILE </h2>
  <h6>Термин Agile употребляют в двух разных смыслах:</h6>
  <ul>
    <li>Agile — это подход к управлению проектами, делающий упор на поэтапное или пошаговое выполнение задач. </li>
    <li>Собирательное название нескольких разных гибких методологий, для которых общими являются ценности Agile. </li>
  </ul>
  <p>
    <strong>Agile</strong> это философия и система ценностей, которой придерживается команда. Тут речь не о конкретных инструментах и практиках, а скорее о принципах, по которым строится работа. Его часто используют для вопросов, где мы не можем спрогнозировать все до конца и существует риск непредсказуемых изменений.
  </p>
  <h3>Ценности Agile</h3>
  <ol>
    <li><strong>Люди и взаимодействие важнее процессов и инструментов</strong> то, что общение и межличностные отношения важнее, чем строгие процессы — краеугольный камень Agile-управления проектами. Agile рекомендует персонализированный подход к управлению проектами, когда команды ориентируются на постоянное общение, а не на жестко распланированный выпуск обновлений. </li>
    <li><strong>Работающий продукт важнее исчерпывающей документации</strong> agile-команды не очень любят бумажную работу. Для управления данными, отчетами и обновлениями статуса они предпочитают использовать гибкие программные решения, а не традиционную документацию. </li>
    <li><strong>Сотрудничество с заказчиком важнее согласования условий контракта</strong> agile-команды любят сотрудничество — включая регулярные обновления и обратную связь о том, как продвигается проект, от клиентов и заинтересованных сторон. Чего Agile-команды не любят, так это долгих согласований объемных контрактов. </li>
    <li><strong>Готовность к изменениям важнее следования первоначальному плану</strong> эта ценность прежде всего характеризует Agile-управление проектами. Agile-команды чутко реагируют на изменения и успешно адаптируются к новым условиям и вызовам.</li>
  </ol>
  <h3>Scrum</h3>
  <ul>
    <li>Scrum это работа короткими циклами (Спринт). Проект разделяют на части, которые называют Спринтами. За это время команда берет на себя некоторое количество задач. Которые она стремится выполнить в этот временной отрезок.</li>
    <li>После окончания каждого спринта, команда собирается для обсуждения и выявления слабых и сильных моментов, учитывает их и при необходимости корректирует Бэклог (список задач).</li>
    <li>В команду обычно входите не более 6-10 человек с необходимыми для выполнения проекта компетенциями и навыками.</li>
    <li>Постоянное взаимодействие с заказчиком.</li>
  </ul>
  <h3>Kanban</h3>
  <ul>
    <li>Главное в Kanban — визуализация процесса, канбан-доска. На ней отображают шаги, статусы, коридоры и задачи. </li>
    <li>Канбан адаптировали для работы с творческими и интеллектуальными задачами, которые нельзя «пощупать»</li>
    <li>Основные принципы это вовлеченность всей команды, строгий контроль времени выполнения.</li>
    <li>Метод основан на управлении выполнением задач с помощью карточек, сигнализирующих о наступлении и завершении определенных этапов.</li>
  </ul>
</div>

{% endblock %}