{% extends 'base.html' %}


{% block title %}
CSS-свойства
{% endblock %}


{% block body %}

<div class="container index">
    <h5>Основные CSS-свойства</h5>
    <p>
        Селектор{
        <ul>
            <li> Свойство_1: Значение_1; </li>
            <li> Свойство_2: Значение_2; </li>
            <li> Свойство_3: Значение_3; </li>
        </ul>
        }
    </p>
    <h5>Cвойства</h5>
    <h6>CSS-свойства это определенные параметры оформления, например цвет элемента или текста (color) или цвет фона (background).</h6>
    <p>
        <b>#test</b>{
    <ul>
        <li> <strong> transform: scale(1.3); </strong>/*трансформирование элемента, scale-изменить размер*/ </li>
        <li> <strong> margin:  10px; </strong>/*наружние отступы*/ </li>
        <li> <strong> margin-top:1px; </strong>/*наружние отступы сверху*/ </li>
        <li> <strong> margin-left:  30px; </strong>/*наружние отступы слева*/ </li>
        <li> <strong> margin-right:  30px; </strong>/*наружние отступы справа*/ </li>
        <li> <strong> padding: 15px; </strong>/*внутрение отступы*/ </li>
        <li> <strong> color: rgba(0,0,0,0.75); </strong> /* цвет текста, 0.75 непрозрачность */ </li>
        <li> <strong> border: 2px dashed grey; </strong>/*рамка*/ </li>
        <li> <strong> background-color: #e6e9f0; </strong>/*фон блока*/ </li>
        <li> <strong> border-radius: 10px; </strong>/*закруглить углы рамки*/ </li>
        <li> <strong> opacity: 0.8; </strong>/*0.8 непрозрачность блока*/ </li>
        <li> <strong> box-shadow: 3px 3px 5px black; </strong>/*Тень блока*/ </li>
        <li> <strong> width: auto; </strong>/*ширина*/ </li>
        <li> <strong> height: auto; </strong>/*высота*/ </li>
        <li> <strong> display: block; </strong>/*видимость на экране*/ </li>
        <li> <strong> text-align: left; </strong>/*расположение текста*/ </li>
    </ul>
    }</p>
    <p><a class="btn btn-warning" href="http://htmlbook.ru/css" target="_blank">Справочник CSS</a></p>
</div>

{% endblock %}