{% extends 'base.html' %}


{% block title %}
Команды GIT
{% endblock %}


{% block body %}

<div class="container">
  <h4> Основные команды GIT </h4>
  <h6>Git — это система контроля версий, которая помогает отслеживать историю изменений в файлах. </h6>
  <ul>
      <li><strong> git clone https://github.com/Aleks-QA/test.git </strong> Скопировать удаленный репозиторий </li>
      <li><strong> git status </strong> Проверка состояния репозитория </li>
      <li><strong> git add File1.txt </strong> Добавить файл в систему(Согласиться с изменением файла) </li>
      <li><strong> git commit "…" </strong> Коммит(«сохранить изменения») с указанием описания причин по которым это изменение было внесено </li>
      <li><strong> git push </strong> Отправить коммит на удаленный репозиторий </li>
      <li><strong> git fetch </strong> Загружает коммиты, файлы и ссылки из удаленного репозитория в локальный репозиторий (собирает все коммиты из целевой ветки, которых нет в текущей ветке, и сохраняет их в локальном репозитории. Однако он не сливает их в текущую ветку. ) </li>
      <li><strong> git pull </strong> Команда pull сливает любые внесённые коммиты в ветку, в которой вы сейчас работаете, не давая вам сначала просмотреть их. </li>
      <li><strong> git log </strong> Посмотреть все коммиты(автор, дата, описание) </li>
      <li><strong> git log --author al694000n@gmail.com </strong> Посмотреть все коммиты автора(по имени или почте) </li>
      <li><strong> git blame File1.txt </strong> Какие изменения вносил тот или иной автор </li>
      <li><strong> git commit -a -m "…" </strong> «сохранить изменения» с указанием описания для всех файлов </li>
      <li><strong> git checkout first_branch </strong> Переключить на другую ветку+название той ветки </li>
      <li><strong> git log --pretty=oneline </strong> Посмотреть все коммиты, показывая каждый коммит в одну строку. </li>
      <li><strong> git revert 676ec </strong> Отменить коммит с идентификатором начинающимся на "676ec" </li>
  </ul>
</div>

{% endblock %}