{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block body %}

<main class="container index">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class=" px-0">
      <h2 class="display-4 fst-italic">Прототип глоссария QA инженера</h2>
      <p class="lead my-3">Глоссарий – словарь основных понятий и терминов, относящихся к определенной сфере деятельности или знания. Главное отличие глоссария от словаря состоит в том, что в глоссарий включаются специализированные термины, связанные с изучением конкретной дисциплины.</p>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-8">
      <article class="blog-post">
        <h1 class="pb-4  fst-italic border-bottom">Основы HTML</h1>
        <dl class="mb-4 border-bottom">
          <dt>Язык разметки гипертекста (HTML)</dt>
          <dd>Язык, используемый для описания и определения содержания веб-страницы.</dd>
          <dt>Каскадные таблицы стилей (CSS)</dt>
          <dd>Используется для описания внешнего вида веб-содержимого</dd>
          <dt>JavaScript (JS)</dt>
          <dd>Язык программирования, используемый для создания современных веб-сайтов и приложений.</dd>
        </dl>
<!--        Базовая структура html страницы-->
        <div class=" mb-4 pb-4 border-bottom">
          <h2 class="fst-italic mb-4">Базовая структура html страницы</h2>
          <ul>
            <b>&lthtml&gt</b> является контейнером, который заключает в себе все содержимое веб-страницы.
            <ul>
              <li><b>&lthead&gt</b> предназначен для хранения служебной информации о странице.</li>
              <ul>
                <li><b> &lttitle&gt</b> Название вкладки <b> &lt/title&gt</b></li>
                <li><b>&ltmeta</b> теги, через них браузер и поисковые машины считывают информацию о сайте.&gt</li>
              </ul>
              <b>&lt/head&gt</b>
              <li> <b>&ltbody&gt</b> обозначает границы основного содержимого, которое показывается пользователям. </li>
              <ul>
                <li><b>&ltheader&gt</b>  Шапка сайта. Может повторяться на других страницах. <b>&ltheader&gt </b></li>
                <li><b>&ltmain&gt</b>  Основной контент. Остается только на этой странице. <b>&ltmain&gt </b></li>
                <li><b>&ltfooter&gt</b>  Подвал сайта. Может повторяться на других страницах. <b>&ltfooter&gt</b></li>
              </ul>
              <b>&lt/body&gt</b>
            </ul>
            <b>&lt/html&gt</b>
          </ul>
        </div>
<!--        Базовые теги html страницы-->
        <div >
          <h2 class="fst-italic mb-4">Базовые теги html страницы</h2>
          <ul>
            <li><b>&ltp&gt</b> параграф или текстовый абзац, это блочный элемент, всегда начинается с новой строки.<b>&ltp&gt</b></li>
            <li><b>&lth1&gt</b> h1-h6 – семейство заголовочных тегов, показывают относительную важность<b>&lth1&gt</b></li>
            <li><b>&ltbr&gt</b> устанавливает перевод строки в том месте, где этот тег находится.</li>
            <li><b>&lta href="https://www.youtube.com/" target="_blank"&gt <a href="https://www.youtube.com/" target="_blank">Ссылка</a></b> <b>&lt/a&gt</b> так выглядит ссылка</li>
            <li><b>&ltb&gt</b> <b> Выделенный текст </b> <b>&ltb&gt</b></li>
            <li><b>&ltem&gt</b> <em> Курсивный текст </em> <b>&ltem&gt</b></li>
            <li><b>&ltdel&gt</b><del>Зачеркнутый текст</del><b>&lt/del&gt</b></li>
            <li><b>&ltins&gt</b><ins>Подчеркивание текста</ins><b>&lt/ins&gt</b></li>
            <li><b>&ltabbr title="Язык разметки гипертекста"&gt</b><abbr title="Язык разметки гипертекста">HTML</abbr><b>&lt/abbr&gt</b>аббревиатура с атрибутом для полной фразы.</li>
            <li><b>&ltsup&gt</b> <sup>надстрочный</sup> <b>&ltsup&gt</b> и <b>&ltsub&gt</b> <sub>подстрочный</sub> <b>&ltsub&gt</b> текст </li>
            <li>
                <b>&ltinput placeholder="поле поиска"&gt</b>
                    <input placeholder="поле поиска">
            </li>
            <li>
              <b>&ltol&gt</b> устанавливает нумерованный список, содержит элементы в определенной последовательности.<br>
              <div class="text-block">
                <b>&ltli&gt</b> 1. элемент списка <b>&ltli&gt</b><br>
                <b>&ltli&gt</b> 2. элемент списка <b>&ltli&gt</b><br>
                <b>&ltli&gt</b> 3. элемент списка <b>&ltli&gt</b><br>
              </div>
              <b>&lt/ol&gt</b>
            </li>
            <li>
              <b>&ltul&gt</b> Используется для неупорядоченного списка - в частности для маркированного списка.<br>
              <div class="text-block">
                <b>&ltli&gt</b> - элемент списка <b>&ltli&gt</b><br>
                <b>&ltli&gt</b> - элемент списка <b>&ltli&gt</b><br>
                <b>&ltli&gt</b> - элемент списка <b>&ltli&gt</b><br>
              </div>
              <b>&lt/ul&gt</b>
            </li>
            <li><b>&ltdiv&gt</b>разбивает документ на отдельные части, а так же форматирует стиль содержимого.<b>&lt/div&gt</b>
            </li>
            <li><b>&ltimg scr="https://w7.pngwing.com/... width="100" height="100" &gt</b> добавить изображение</li>
<!--            <li><img class="aligncenter" src="https://www.9mm.cl/wp-content/uploads/2023/01/openai-logo.png" width="100" ></li>-->
            <li><img class="aligncenter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/2560px-Git-logo.svg.png" width="150" ></li>
          </ul>
        </div>
<!--        Таблицы-->
        <div>
          <h4 class="fst-italic">Пример таблицы html</h4>
          <div  class="pb-4 ">
            <table class="table">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Patronymic</th>
              </tr>
              <tr>
                <td>Aleksandr</td>
                <td>Aleksandrov</td>
                <td>Aleksandrovich</td>
              </tr>
            </table>
            <ul>
              <b>&lttable&gt</b> Тег служит контейнером для элементов, определяющих содержимое таблицы.
              <li class="text-block list">
                <b>&lttr&gt</b>
                <ol>
                  <li><b>&ltth&gt</b> First name <b>&lt/th&gt</b></li>
                  <li><b>&ltth&gt</b> Last name <b>&lt/th&gt</b></li>
                  <li><b>&ltth&gt</b> Patronymic <b>&lt/th&gt</b></li>
                </ol>
                <b>&lt/tr&gt</b><br>
                <b>&lttr&gt</b>
                <ol>
                  <li><b>&lttd&gt</b> Aleksandr <b>&lt/td&gt</b></li>
                  <li><b>&lttd&gt</b> Aleksandrov <b>&lt/td&gt</b></li>
                  <li><b>&lttd&gt</b> Aleksandrovich <b>&lt/td&gt</b></li>
                </ol>
                <b>&lt/tr&gt</b>
              </li>
              <b>&lt/table&gt</b>
            </ul>
          </div>
          <div class="pb-4">
            <h4 class="fst-italic">Таблица HTML-<abbr title="Мнемоника — это кодовое представление символа в HTML, начинающегося со знака амперсанда и завершающееся точкой с запятой">мнемоник</abbr></h4>
            <div>
              <table class="table">
                <tr>
                  <td>&nbsp<</td>
                  <td>&nbsp></td>
                  <td>&nbsp"</td>
                  <td>&nbsp&rarr;</td>
                  <td>Пробел</td>
                  <td>&nbsp&</td>
                  <td>&nbsp#</td>
                  <td>&nbsp&laquo;</td>
                  <td>&nbsp&raquo;</td>
                </tr>
                <tr>
                  <td>&amp;lt;</td>
                  <td>&amp;gt;</td>
                  <td>&amp;quot;</td>
                  <td>&amp;rarr;</td>
                  <td>&amp;nbsp;</td>
                  <td>&amp;amp;</td>
                  <td>&amp;#35;</td>
                  <td>&amp;laquo;</td>
                  <td>&amp;raquo;</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </article>
    </div>
<!--    Разделы-->
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Идея проекта</h4>
          <p class="mb-0">Создать ресурс в котором собраны необходимые знания, с возможностью расширения и редактирования</p>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Разделы</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="/posts">Теория тестирования</a></li>
            <li><a href="/aqa">Selenium и Python</a></li>
            <li><a href="/agile">Методология Agile</a></li>
            <li><a href="/git">Команды Git</a></li>
            <li><a href="/sql">Команды SQL</a></li>
            <li><a href="/css">Свойства CSS</a></li>
          </ol>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Прочие ресурсы</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/Aleks-QA/flask_python" target="_blank">GitHub</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}