{% extends 'base.html' %}


{% block title %}
Все статьи на сайте
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="mb-4">Теория тестирования</h1>
    {% if articles|length > 0 %}
        {% for elements in articles %}
        <div class="post_style ">
            <h4><tt> {{ elements.title }} </tt></h4>
            <pre>{{ elements.text }}</pre>
            <p id="right"><b><tt>Дата публикации: {{ elements.date.date() }}</tt></b></p>
            <div id="left"><a href="/posts/{{elements.id}}" class="btn btn-warning">Отредактировать</a></div>
        </div>
        {% endfor %}
    {% else %}
    <p>У нас еще нет статей на сайте</p>
    {% endif %}
</div>

{% endblock %}